<div class="container">
<br>
  <div class="row">
    <div class="col no-gutters">
      <%= image_tag 'plofile1.jpg', class:"img-fluid" %>
    </div>
  </div>
  <div class="row">
    <div class="col no-gutters border-top">
      <%= image_tag 'plofile2.jpg', class:"img-fluid" %>
    </div>
  </div>
</div>