
<div class='container'>
<main class="layout__Main-sc-1m15432-0 hNJFAI">

  <section class="static-page">
    <h2 class="text-center py-5">プライバシーポリシー</h2>
    <div class="static-page-content">
      <section>
        <p>
          SmoothTradeでは、下記の「プライバシーポリシー」に基づき、お客様の個人情報を取り扱います。
        </p>
        <p>
          お客様におかれましては、SmoothTadeのご利用のため、下記の「プライバシーポリシー」をご熟読ください。
        </p>
      </section>
      <section>
        <h3>1. お客様から取得する情報</h3>
        <p>
          SmoothTradeは、お客様から以下の情報を取得します。
        </p>
        <ul>
          <li>氏名(ニックネームも含む)</li>
          <li>メールアドレス</li>
          <li>Password</li>
          <li>写真</li>
        </ul>
      </section>
      <section>
        <h3>2. お客様の情報を利用する目的</h3>
        <p>
          SmoothTradeは、お客様から取得した情報を、以下の目的のために利用します。
        </p>
        <ul>
          <li>SmoothTradeサービスに関する登録の受付、お客様の本人確認、認証のため</li>
          <li>お客様のSmoothtradeサービスの利用履歴を管理するため</li>
          <li>SmoothTradeサービスにおけるお客様の行動履歴を分析し、SmoothTradeサービスの維持改善に役立てるため</li>
          <li><SmoothTradeサービスに関する案内をするため/li>
          <li>お客様からのお問い合わせに対応するため</li>
          <li>SmoothTradeの規約や法令に違反する行為に対応するため</li>
          <li>SmoothTradeサービスの変更、提供中止、終了、契約解除をご連絡するため</li>
          <li>SmoothTrade規約の変更等を通知するため</li>
          <li>以下の他、SmoothTradeサービスの提供、維持、保護及び改善のため</li>
        </ul>
      </section>
      <section>
        <h3>3. 安全管理のために講じた措置</h3>
        <p>
          SmoothTradeが、お客様から取得した情報に関して安全管理のために講じた措置につきましては、末尾記載のお問合せ先にご連絡をいただきましたら、法令の定めに従い、個別にご回答させていただきます。
        </p>
      </section>
      <section>
        <h3>4. 第三者提供</h3>
        <p>
         SmoothTradeは、お客様から取得する情報のうち、個人データ(個人情報保護法第2条6項)に該当するものについては、あらかじめお客様の同意を得ずに、第三者(日本国外にある者を含みます。)に提供しません。
        </p>
        <ol>
          <li>本サービスに関する各種事項の連絡や情報提供を行うため</li>
          <li>本サービスを提供するため</li>
          <li>本サービスにユーザー登録する際に必要な情報入力を簡略化するため</li>
          <li>お客様のお申込みにかかる本サービス間の情報連携のため</li>
          <li>電子メール配信サービスのお申し込みの確認やメールを配信するため</li>
          <li>本サービスに関するご購入の確認やお届けをするため</li>
          <li>本サービスに関するご請求、お支払いとその確認をするため</li>
          <li>ご協力いただいた調査等に対する謝礼等をお送りするため</li>
          <li>ご応募いただいた懸賞等に対する景品等をお送りするため</li>
          <li>本サービスの利用状況等を調査・分析するため</li>
          <li>
            本サービスの内容をよりご満足いただけるよう改良・改善し、または新サービスの開発のため
          </li>
          <li>お客様から取得した行動履歴等の情報を分析し、本サービスに関する与信判断および与信管理を行うため</li>
          <li>本サービスの内容をお客様にあわせてカスタマイズするため</li>
          <li>本サービスに関する満足度を調査するため</li>
          <li>
            取得情報を統計的に処理した情報を、集約し調査結果として公表するため
          </li>
          <li>本サービス、新サービスに関する研究開発をするため</li>
          <li>
            本サービス、新サービスその他の各種サービスのご案内やお知らせをお届けする等、マーケティングで利用するため
          </li>
          <li>
            調査のご協力依頼や各種イベントへのご参加をお願いしたり、その結果等をご報告するため
          </li>
          <li>弊社グループや第三者の広告の、お客様にあわせた配信または表示のため</li>
          <li>弊社グループや第三者の提供するサービス内に商品の情報を配信または表示するため</li>
          <li>本サービス運営上のトラブルの解決のため</li>
          <li>本サービスに関する不正利用防止や安全性の確保のため</li>
        </ol>
      </section>
      <section>
        <h3>5. 取得情報の第三者への提供</h3>
        <p>弊社グループは、以下に定める場合、取得情報を第三者に提供します。</p>
        <br>
        <p>但し、次の場合は除きます。</p>
        <ul>
          <li>個人データの取扱いを外部に委託する場合</li>
          <li>SmoothTradeやSmoothTradeサービスが買収された場合</li>
          <li>事業パートナーと共同利用する場合(具体的な共同理由がある場合は、その内容を別途公表します。)</li>
          <li>その他、法律によって合法的に第三者提供が許されている場合</li>
        </ul>
      </section>
      <section>
        <h3>6. アクセス解析ツール</h3>
        <p>
        SmoothTradeは、お客様のアクセス解析のために、「Googleアナリティクス」を利用しています。
        Googleアナリティクスは、トラフィックデータの収集のためにCookieを使用しています。
        トラフィックデータは匿名で収集されており、個人を特定するものではありません。
        Cookieを無効にすれば、これらの情報を拒否することができます。
        詳しくはお使いのブラウザの設定をご確認ください。
        Googleアナリティクスについて、詳しくは以下からご確認ください。
        </p>
        <%= link_to 'https://marketinglatform.google.com/about/analytics/teams/jp/' %>
      </section>
      <br>
      <section>
        <h3>7. プライバシーポリシーの変更</h3>
        <p>
          SmoothTradeは、必要に応じて、このプライバシーポリシーの内容を変更します。
          この場合、変更後のプライバシーポリシーの施工時期と内容を適切な方法により周知または通知いたします。
        </p>
        <br>
      </section>
      <section>
        <h3>8. お問合せ</h3>
        <p>
          お客様の情報の開示、情報の訂正、利用停止、削除をご希望の場合は、以下のメールアドレスにご連絡ください。
        </p>
        <p>e-mail
        <br>sugishita212@gmail.com
        <br>この場合、必ず、運転免許証のご提示等当社が指定する方法により、ご本人からのご請求であることの確認をさせていただきます。
        なお、情報の開示請求については、開示の有無に関わらず、ご申請時に一件当1,000円の事務手数料を申し受けます。
        </p>

      </section>
      <ul class="static-revision">
        <li>2023年02月06日改定</li>
      </ul>
    </div>
  </section>

</main>
</div>
