<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to root_path do %>
    <%= image_tag 'logo.jpg', size: '40x40', class: 'rounded-circle mr15'%>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">お知らせ</a>
      </li>
      <li class="nav-link">
        <%= link_to 'サインアップ', new_user_registration_path %>
      </li>
      <li class="nav-link">
        <%= link_to 'ログイン', new_user_session_path %>
      </li>
      <li class="nav-link">
        <i class="fab fa-twitter"></i>
      </li>
    </ul>
  </div>
</nav>