
<!-- Footer-->
<footer class="absolute mt-5 py-5 bg-dark">
  <div class="container text-center">
  <p class="m-0 text-center text-white">SmoothTrade 2022</p>
  <br>
  <%= link_to 'プライバシーポリシー', privacypolicys_top_path, class: 'text-blue' %>
  </div>
</footer>