<div class='container py-5'>
<main class="layout__Main-sc-1m15432-0 hNJFAI">
  <section class="static-page">
    <h2 class='text-center border-bottom pb-4 font-weight-bolder'>お問い合わせ</h2>
    <br>
    <h5 class='text-center'>LINEでお問い合わせ</h5>
    <div class='text-center py-3'>
      <%= image_tag 'line_qr.jpg', size: '100x100' %>
    </div>
    <br>
    <h5 class='text-center'>emailでお問い合わせ</h5>
    <ul class="list-group list-group-flush text-center">
      <li class="list-group-item list-group-item-warning">E-mail: sugishita212@gmail.com</li>
    </ul>
  </section>
</main>
</div>
