<div class='container py-5'>
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1 class='text-center border-bottom pb-4 font-weight-bolder'>新規出品作成</h1>
      <%= render 'form', { post: @post } %>
    </div>
  </div>
</div>