<p>Hello <%= @resource.email %>!</p>

<p>パスワードが変更されましたのでご連絡いたします。</p>

<p>【重要】</p>
<ul>
  <li>このメールにお心当たりのない場合は、読み捨ててください</li>
</ul>

<p>ご不明点やご質問がございましたら、お気楽にSmoothTrade公式LINEまでお問合せください。引き続き、SmoothTradeをよろしくお願いします。</p>
<p><%= link_to 'SmoothTrade公式ライン', 'https://lin.ee/H6qVCFz' %></p>


<br>
<p>SmoothTrade: https://smoothtrade.magia.runteq.jp</p>
