<p>Hello <%= @resource.email %>!</p>

<p>パスワードの再設定を承りました。以下のリンクからパスワード再設定を行うことができます。</p>

<p><%= link_to 'パスワード変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>【重要】</p>
<ul>
  <li>上記アドレス（URL）は他者に公開しないようお取り扱いには充分お気をつけください。</li>
  <li>アドレス（URL）が無効になっている場合はお手数ですが、再度パスワード再設定手続きをお願いします。</li>
  <li>このメールにお心当たりのない場合は、読み捨ててください</li>
</ul>

<p>ご不明点やご質問がございましたら、お気楽にSmoothTrade公式LINEまでお問合せください。引き続き、SmoothTradeをよろしくお願いします。</p>
<p><%= link_to 'SmoothTrade公式ライン', 'https://lin.ee/H6qVCFz' %></p>


<br>
<p>SmoothTrade: https://smoothtrade.magia.runteq.jp</p>

